#### Ensemble methods

The goal of ensemble methods is to combine the predictions of

**several base estimators** built with a given learning algorithm

in order to

improve **generalizability** or **robustness** over a single estimator.

https://scikit-learn.org/stable/modules/ensemble.html

### Random Forests

A forest is comprised of trees. It is said that the more trees it has, the more robust a forest is. Random forests creates decision trees on randomly selected data samples, gets prediction from each tree and selects the best solution by means of voting. It also provides a pretty good indicator of the feature importance.

https://www.datacamp.com/community/tutorials/random-forests-classifier-python

In [ ]:
!pip install scikit-learn

In [ ]:
# check scikit-learn version
import sklearn
print(sklearn.__version__)

0.22.2.post1

We use sinthetic data, generated using scikit-learn

In [ ]:
# Generate test classification dataset: Binary (2 classes)

from sklearn.datasets import make_classification

# define dataset
X, y = make_classification(n_samples=1000, n_features=20, n_informative=15, n_redundant=5, random_state=77)

# summarize the dataset
print(X.shape, y.shape)

(1000, 20) (1000,)

In [ ]:
print("Labels:", y[0:10])

Labels: [1 1 0 0 1 0 0 0 1 0]

Classification using Random Forests:

In [ ]:
# evaluate random forest algorithm for classification

from numpy import mean
from numpy import std

from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.ensemble import RandomForestClassifier

# define the model
model = RandomForestClassifier(n_estimators=200)

# evaluate the model
cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=3, random_state=77)

n_scores = cross_val_score(model, X, y, scoring='accuracy', cv=cv, n_jobs=-1, error_score='raise')

# report performance
print('Accuracy: %.3f (SD: %.3f)' % (mean(n_scores), std(n_scores)))

Accuracy: 0.881 (SD: 0.040)

### Overall code to get PREDICTION from Random Forests
Classification Model with 200 Trees

In [ ]:
# make predictions using random forest for classification
from sklearn.datasets import make_classification
from sklearn.ensemble import RandomForestClassifier

# define dataset
X, y = make_classification(n_samples=1000, n_features=20, n_informative=15, n_redundant=5, random_state=9)

# define the model
model = RandomForestClassifier(n_estimators=200)

# fit the model on the whole dataset
model.fit(X, y)

# make a single prediction
# row with 20 features
row = [[-8.52381793,5.24451077,-12.14967704,-2.92949242,0.99314133,0.67326595,-0.38657932,1.27955683,-0.60712621,3.20807316,0.60504151,-1.38706415,8.92444588,-7.43027595,-2.33653219,1.10358169,0.21547782,1.05057966,0.6975331,0.26076035]]

yhat = model.predict(row)

print('Predicted Class: %d' % yhat[0])

Predicted Class: 1

Regression using Random Forests:

In [ ]:
# Generate test regression dataset
from sklearn.datasets import make_regression

# define dataset
X, y = make_regression(n_samples=1000, n_features=20, n_informative=15, noise=0.1, random_state=77)

# summarize the dataset
print(X.shape, y.shape)

(1000, 20) (1000,)

In [ ]:
import pandas as pd

pd.DataFrame(X).describe()

                0            1   ...           18           19
count  1000.000000  1000.000000  ...  1000.000000  1000.000000
mean      0.001680     0.047861  ...    -0.047083     0.000396
std       1.010132     1.003630  ...     1.019816     1.033563
min      -3.685407    -3.661560  ...    -3.331612    -2.742895
25%      -0.663656    -0.650605  ...    -0.755766    -0.696134
50%       0.022089     0.047379  ...    -0.064566     0.008449
75%       0.708693     0.728104  ...     0.638493     0.670833
max       3.438819     3.368433  ...     3.060280     3.448056

[8 rows x 20 columns]

In [ ]:
print("Labels:", y[0:5])

Labels: [ 222.53747118   42.24564042  -23.47820771 -182.73759726    5.59466015]

In [ ]:
# evaluate random forest ensemble for regression
from numpy import mean
from numpy import std

from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedKFold
from sklearn.ensemble import RandomForestRegressor

# define the model

model = RandomForestRegressor(n_estimators=200)

# evaluate the model
cv = RepeatedKFold(n_splits=10, n_repeats=3, random_state=1)
n_scores = cross_val_score(model, X, y, scoring='neg_mean_absolute_error', cv=cv, n_jobs=-1, error_score='raise')

# report performance
print('Mean Absolute Error: %.3f (SD: %.3f)' % (mean(n_scores), std(n_scores)))

Mean Absolute Error: -114.204 (SD: 7.973)

### Overall code to get PREDICTION from Random Forests
Regression Model with 200 Trees

In [ ]:
# random forest for making predictions for regression
from sklearn.datasets import make_regression
from sklearn.ensemble import RandomForestRegressor

# define dataset
X, y = make_regression(n_samples=1000, n_features=20, n_informative=15, noise=0.1, random_state=9)

# define the model
model = RandomForestRegressor(n_estimators=200)

# fit the model on the whole dataset
model.fit(X, y)

# make a single prediction
# row with 20 features

row = [[-0.89483109,-1.0670149,-0.25448694,-0.53850126,0.21082105,1.37435592,0.71203659,0.73093031,-1.25878104,-2.01656886,0.51906798,0.62767387,0.96250155,1.31410617,-1.25527295,-0.85079036,0.24129757,-0.17571721,-1.11454339,0.36268268]]

yhat = model.predict(row)

print('Prediction: %d' % yhat[0])

Prediction: 5

## Using Iris Dataset

In [ ]:
from sklearn import datasets

iris = datasets.load_iris()

In [ ]:
print("Feature Names:", iris.feature_names)
print("Label Names:", iris.target_names)

Feature Names: ['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)']
Label Names: ['setosa' 'versicolor' 'virginica']

In [ ]:
# print the iris data (top 5 records)
print(iris.data[0:5][0])

[5.1 3.5 1.4 0.2]

In [ ]:
# print the iris labels (0:setosa, 1:versicolor, 2:virginica)
print(iris.target[0:10])

[0 0 0 0 0 0 0 0 0 0]

In [ ]:
# We can create a DataFrame of the iris dataset

import pandas as pd
data=pd.DataFrame({
    'sepal length':iris.data[:,0],
    'sepal width':iris.data[:,1],
    'petal length':iris.data[:,2],
    'petal width':iris.data[:,3],
    'species':iris.target
})
data.head()

   sepal length  sepal width  petal length  petal width  species
0           5.1          3.5           1.4          0.2        0
1           4.9          3.0           1.4          0.2        0
2           4.7          3.2           1.3          0.2        0
3           4.6          3.1           1.5          0.2        0
4           5.0          3.6           1.4          0.2        0

In [ ]:
from sklearn.model_selection import train_test_split

X=data[['sepal length', 'sepal width', 'petal length', 'petal width']]  # Features
y=data['species']  # Labels

# Split dataset into training set and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [ ]:
#Import Random Forest Model
from sklearn.ensemble import RandomForestClassifier

#Create a Gaussian Classifier
RFM =RandomForestClassifier(n_estimators=50)

#Train the model using the training sets y_pred=clf.predict(X_test)
RFM.fit(X_train,y_train)

y_pred=RFM.predict(X_test)

In [ ]:
from sklearn import metrics
print("Accuracy: {:.4f}".format(metrics.accuracy_score(y_test, y_pred)))

Accuracy: 0.9556

In [ ]:
print("Predicted class:", RFM.predict([[3, 5, 4, 2]])[0])

Predicted class: 2

In [ ]:
pd.Series(RFM.feature_importances_,
         index=iris.feature_names).sort_values(ascending=False)

petal width (cm)     0.558139
petal length (cm)    0.331957
sepal length (cm)    0.087136
sepal width (cm)     0.022768
dtype: float64

As you can see,

**sepal length & sepal width**

are not so much important.

We can build ML model using only two important features.

In [ ]:
from sklearn.model_selection import train_test_split

# Split dataset into features and labels
X=data[['petal length', 'petal width',]]
y=data['species']

# Split dataset into training set and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=5) # 70% training and 30% test

In [ ]:
#Import Random Forest Model
from sklearn.ensemble import RandomForestClassifier

#Create a Gaussian Classifier
RFM =RandomForestClassifier(n_estimators=1000)

#Train the model using the training sets y_pred=clf.predict(X_test)
RFM.fit(X_train,y_train)

y_pred=RFM.predict(X_test)

In [ ]:
from sklearn import metrics
print("Accuracy: {:.4f}".format(metrics.accuracy_score(y_test, y_pred)))

Accuracy: 0.9778

In [ ]:
print("Predicted class:", RFM.predict([[3, 5]])[0])

Predicted class: 2